$cssFileUrl: "http://xdev-files.test";

// @tailwind base;
// @tailwind components;
@tailwind utilities;

@import "./variables/reset";
@import "./variables/relative-unit";
@import "./variables/responsive";
@import "./variables/fonts";
@import "./variables/colors";
@import "./variables/frame";
@import "./variables/btn";

@import "./atoms/navicon";
@import "./atoms/switch";
@import "./atoms/highlight";
@import "./atoms/logo";

@import "./components/theme-switcher";
@import "./components/navigation";
@import "./components/loading-screen";

@import "./pages/homepage/block--0001";
@import "./pages/homepage/block--0002";
@import "./pages/homepage/block--0003";
@import "./pages/homepage/block--0004";
@import "./pages/homepage/block--0005";
@import "./pages/homepage/block--0006";

.hidden {
    display: none;
}

.view-frame {
    footer {
        @include x("padding-left", 80);
        @include x("padding-right", 80);
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        @include x("bottom", 60);
    }
}
