.btn {
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    height: 51px;
    justify-content: center;
    width: 192px;

    @include x("width", 192);
    @include x("height", 51);
    @include x("border-radius", 12);
}
