.block--0002 {
    > div {
        display: flex;
        justify-content: center;
        left: 0;
        right: 0;
    }

    .first {
        @include x("bottom", 230);
        position: absolute;
        z-index: 0;
        text-align: center;
        opacity: 0;

        @include sm-down() {
            top: 100px;
            z-index: 10;
        }
    }

    .second {
        @include x("bottom", 100);
        position: absolute;
        z-index: 10;
        @include x("max-width", 600);
        text-align: center;
        opacity: 0;

        @include sm-down() {
            bottom: 100px;
        }
    }
}

.space {
    &.dark {
        .block--0002 {
            background-size: cover;
            background-image: url("#{$cssFileUrl}/storage/pages/space/starry-background.png");
        }
    }
}

.dl--7 {
    .block--0002 {
        .first {
            opacity: 1;
            transition: 600ms linear opacity 500ms;
        }

        .second {
            opacity: 1;
            transition: 600ms linear opacity 900ms;
        }
    }
}

.dl--6 {
    .triangle {
        transform: translateX(-50%) translateY(-50%) scale(0.68);
    }
}

.dl--11 {
    .triangle {
        top: -50%;
    }
}
