.block--0001 {
    .title-space {
        left: 0;
        right: 0;
        position: absolute;
        display: flex;
        justify-items: center;
        flex-direction: column;
        text-align: center;
        color: var(--color-primary);

        > div {
            display: flex;
            justify-content: center;
            left: 0;
            right: 0;
        }

        .first {
            top: -20vh;
            position: absolute;
            z-index: 0;
        }

        .second {
            top: 40vh;
            position: absolute;
            z-index: 10;
        }
    }
}

.triangle {
    position: absolute;
    background-size: cover;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    height: 36vw;
    transition: transform 1s linear, top 600ms linear;
    width: 45vw;
    background-color: transparent;
    left: 50%;
    top: calc(50% - 100px);
    transform: translateX(-50%) translateY(-50%);
    z-index: 5;
    position: fixed;
}

.man {
    animation: MoveUpDown 8s ease-in-out infinite;
    background-size: contain;
    background-repeat: no-repeat;
    height: 52vw;
    left: 2vw;
    position: absolute;
    top: 4vw;
    transition: transform 2s linear, top 2s linear;
    width: 37vw;
    left: calc(50% - 100px);
    top: 15%;
    z-index: 6;
}

@keyframes MoveUpDown {
    0%,
    100% {
        transform: translateY(-2vw) translateX(-50%);
    }
    50% {
        transform: translateY(2vw) translateX(-50%);
    }
}

.space {
    .triangle {
        background-image: url("http://http://creativenebula.co.uk/storage/pages/space/rectangle.png");
    }
    .man {
        background-image: url("http://http://creativenebula.co.uk/storage/pages/space/spaceman.png");
    }
    &.dark {
        body {
            background-color: var(--color-secondary);
        }
        .triangle {
            background-image: url("http://http://creativenebula.co.uk/storage/pages/space/rectangle.png");
        }
    }
}

.ocean {
    .triangle {
        background-image: url("http://http://creativenebula.co.uk/storage/pages/navigator/rectangle.png");
    }
    .man {
        background-image: url("http://http://creativenebula.co.uk/storage/pages/navigator/diver.png");
    }
    &.dark {
        body {
            background-color: var(--color-secondary);
        }
        .triangle {
            background-image: url("http://http://creativenebula.co.uk/storage/pages/navigator/rectangle.png");
        }
    }
}
