.loading-view {
    position: fixed;
    top: 0;
    left: 0;

    bottom: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;

    background-color: var(--color-white) !important;
    transition: 300ms ease-out opacity, 0ms linear left 300ms;

    &.done {
        left: -9999px;
        opacity: 0;
    }
}
