.theme-switcher-modal {
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-black);
    backdrop-filter: blur(4px);
    background-color: var(--color-white);

    .single-view {
        position: relative;
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .setup-logo {
        svg {
            fill: var(--color-black);
        }
    }

    .btn {
        color: var(--color-white);
        margin-top: 40px;
    }

    h2 {
        text-align: center;
    }

    .item-group {
        display: flex;
        align-items: center;
        margin-top: 20px;

        .title {
            display: flex;
            flex-direction: column;
        }
    }

    .toggle {
        @include x("width", 34);
        @include x("height", 34);
        @include x("margin-right", 20);
        @include x("border-radius", 34);

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-black);

        &.active {
            background-color: var(--color-fire-one);

            &:after {
                content: " ";
                @include x("width", 24);
                @include x("height", 24);
                @include x("border-radius", 24);
                background-color: var(--color-white);
            }
        }
    }

    .choice-group {
        display: flex;
        gap: 50px;

        .space-choice,
        .ocean-choice {
            display: flex;
            flex-direction: column;
            align-items: center;
            .preview {
                display: block;
                // height: 320px;
                // width: 400px;

                // @include x("height", 400);
                // @include x("width", 500);
                background-size: contain;
            }
        }

        // .space-choice {
        //     .preview {
        //         background-image: url("#{$cssFileUrl}/storage/pages/space/rectangle.png");
        //     }
        // }

        // .ocean-choice {
        //     .preview {
        //         background-image: url("#{$cssFileUrl}/storage/pages/navigator/rectangle.png");
        //     }
        // }
    }
}
