.website-logo {
    display: block;
    position: fixed;
    @include x("top", 50);
    @include x("left", 80);
    z-index: 10;
    // background-image: url("#{$cssFileUrl}/storage/svg/black-logo.svg");
    display: flex;
    align-items: center;

    svg {
        @include x("width", 55);
        @include x("height", 61);
        fill: var(--color-black);
    }

    .logo-text {
        display: flex;
        flex-direction: column;
        @include x("line-height", 25);
        @include x("margin-left", 5);
        justify-self: center;
    }
}

.dark {
    .website-logo {
        // background-image: url("#{$cssFileUrl}/storage/storage/svg/white-logo.svg");
    }
}
